@model IEnumerable<MVCTutorial.Models.ViewNames>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container" style="margin-top:5%; width:30%">
    @if (Model != null)
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    @*<a class="btn btn-block btn-success" href="/Test/StudentDetail?ID=@item.ID">@item.Name</a>*@

                    @Html.ActionLink(item.Name, "StudentDetail", new { ID=item.ID },new { @class= "btn btn-block btn-primary" })
                </li>
            }
        </ul>
    }
</div>