@model IEnumerable<MVCTutorial.Models.ViewNames>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    @if (Model != null)
    {
        <table class="table table-condensed">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Branch</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.BranchName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>